    body{
        opacity:0.9;
        width:100%;
        text-align:center !important;
        background-repeat: no-repeat !important; 
        background-size: cover !important;
        background-position: center !important;
    } 
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }
