body{
    background-color: black;
    color:gray;
}
header,main,nav,footer{
    text-align: center;
}
#name{
    font-family: 'Sigmar One', cursive;
    font-size: 4em; 
    color: red; 
    margin-bottom: 0px;
}

nav a { /*Links within nav container*/
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline*/
    color: white; 
}

nav a:hover { /*pseudo class*/
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}
main{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#me,#welcomeText{
    float: left;
}

#welcomeText {
    text-align: left;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

#nav {
    width: 50%;
}
footer{
    clear: left;
    font-size: 1em;
    color:#003366;
}
table {
    margin: 0px auto;
}
td {
    padding-right: 10px;
    font-size: 1.3em;
}

th {
   color: orange; 
}

#table-header {
    background-color: #351a00; 
}
#table-row {
    background-color: #753900; 
}

ul {
    text-align: left; 
    padding-left: 200px; 
}

.hobby {
    color: yellow; 
}